#b{background-image:url(b.jpg)}
#c{background-image:url(c.jpg)}
#d{background-image:url(d.jpg)}
#e{background-image:url(e.jpg)}
#red{color:red ; text-align:center}
#blue{color:blue ; text-align:center}
h4{color:green ; text-align:center}
h5{color:black; text-align:center}
fieldset{height:500 ; width:700}
.center{text-align:center}
#pro{position:absolute;top:10;left:10 ; height:175 ; width:200}