body{background-image:url(bg.jpg); background-repeat:no-repeat}
h1{font:times ; color:blue ;text-align:center }
h2{font:arial; color:red ; text-align:right}
#shubham{font:times;color:orange; font-size:45px}
.bansal{text-align:center}